@font-face {
    font-family: 'Star Jedi Outline';
    src: url('StarJediOutline.woff2') format('woff2'),
        url('StarJediOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Regular.woff2') format('woff2'),
        url('Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

